<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
    <div class="container d-flex">
      <div class="contact-info mr-auto">
        <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">contact@example.com</a>
        <i class="icofont-phone"></i> +1 5589 55488 55
        <i class="icofont-google-map"></i> A108 Adam Street, NY
      </div>
      <div class="social-links">
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a>
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
        <a href="#" class="skype"><i class="icofont-skype"></i></a>
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></a>
      </div>
    </div>
  </div>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto"><a href="index.html">Medilab</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li> <a routerLink='profilMedecin'>Mon Profil</a></li>

          <li class="active"><a href="index.html">Accueil</a></li>
          <li><a routerLink='service'>Qui sommes nous</a></li>
          <li><a routerLink='actualite'>Actualités</a></li>
          <li><a routerLink='contact'>Contact</a></li>
          <li> <a routerLink='profil'>Mon Profil</a></li>
          <li><a routerLink='signup'>Signup</a></li>
           <li><a routerLink='login'>Login</a></li>
           <li><a routerLink='addActualite'>add Actualite</a></li>
           <li><a routerLink='admin'>Admin</a></li>


           
          

        </ul>
    

      </nav><!-- .nav-menu -->

     

    </div>
  </header><!-- End Header -->
