<section id="hero" class="d-flex align-items-center">
    <div class="container">
      <h1>Medilab </h1>
      
    </div>
  </section>
<section id="appointment" class="appointment section-bg" style="margin-top: 150px;">
    <div class="container">

   

      <form action="forms/appointment.php" method="post" role="form" class="php-email-form">
       
      
          <div class="col-md-12 form-group">
            <input type="text" class="form-control" name="email" id="email" placeholder="Titre" data-rule="email" data-msg="Please enter a valid email">
            <div class="validate"></div>
          </div>
          
          <div class="col-md-12 form-group">
            <input type="text" name="name" class="form-control" id="name" placeholder="une Petite description" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
            <div class="validate"></div>
          </div>
                
          <div class="col-md-12 form-group">
            <textarea class="form-control" name="message" rows="5" placeholder="Text"></textarea>
            <div class="validate"></div>
          </div>
         
      
        <div class="text-center"><button type="submit">Ajouter</button></div>
      </form>

    </div>
  </section>