<section id="hero" class="d-flex align-items-center" style="margin-bottom: 5px;">
    <div class="container">
      <h1>Medilab</h1>
      
    </div>
</section>
<section id="about" class="about">
    <div class="container-fluid">

        <div class="row" style="margin-top: 20px;">
            <div
                class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <div style="margin-left: 150px;">
                    <h3>Medilab services</h3>
                <p class="col-8">Etant une société Tunisienne de télémédecine travaillant à l’échelle nationale et internationale,
                    Health Technology services recouvre par son activité 5 types de prise en charge afin de garantir
                    l’accès de tous à des soins de qualité.

                    La télémédecine nécessite une collaboration entre les professionnels des secteurs ambulatoire,
                    médicosocial et hospitalier pour garantir les parcours de santé des patients et améliorer leur
                    qualité de vie.</p>

                </div>
                

            </div>
            <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch">
            
            </div>

            
        </div>

    </div>
</section>
<section id="services" class="services">
    <div class="container">

        <div class="section-title">
            <h2>Services</h2>
     
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart-beat"></i></div>
                    <h4><a href="">Télémedecine</a></h4>
                    <p>La téléconsultation Tunisie ou la consultation à distance</p>
                </div>
            </div>
           
            <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heart-beat"></i></div>
                    <h4><a href="">Téléconsultation</a></h4>
                    <p>La téléconsultation Tunisie ou la consultation à distance</p>
                </div>
            </div>

         

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-dna-alt-2"></i></div>
                    <h4><a href="">Téléexpertise</a></h4>
                    <p>avis d’expert à distance sur la base d’informations médicales

                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-heartbeat"></i></div>
                    <h4><a href="">Téléassistance</a></h4>
                    <p>assistance à distance d’un autre professionnel de santé</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-disabled"></i></div>
                    <h4><a href="">Télésurveillance médicale</a></h4>
                    <p>surveillance et interprétation à distance de paramètres médicaux</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
                <div class="icon-box">
                    <div class="icon"><i class="icofont-autism"></i></div>
                    <h4><a href="">Téléradiologie</a></h4>
                    <p>La téléradiologie consiste en l'interprétation et la consultation d'images radiologiques</p>
                </div>
            </div>

        </div>

    </div>
</section>