<!-- ======= Mobile nav toggle button ======= -->

<div>
    <div class="row">
        <div class="col-3" style="margin-top: 50px;background-color: #173b6c;">
            <div class="d-flex flex-column">
      
              <div class="profile" style="margin-top: 120px;text-align: center;">
                <img src="assets/img/profile-img.jpg" alt="" class="img-fluid rounded-circle" height="150px" width="150px">
                <h2 class="text-light"><a href="index.html">Alex Smith</a></h2>
      
              </div>
      
              <nav class="nav-menu">
      
                <ul class="nav navbar-nav item">
                  <li>
                    <a [routerLink]="['/profilMedecin']" routerLinkActive="active"><i class="bx bx-home"></i> <span>Mes cordonnées</span></a>
                  </li>
                  <li>
                    <a [routerLink]="['/lesQuestions']" routerLinkActive="active"><i class="bx bx-file-blank"></i> <span>Les Questions</span></a>
                  </li>
               
                </ul>
      
      
              </nav><!-- .nav-menu -->
              <button type="button" class="mobile-nav-toggle d-xl-none"><i class="icofont-navigation-menu"></i></button>
      
            </div>
      
          </div>
      <div class="col-9" style="margin-top: 150px;">
        <section id="contact" class="contact">
          <div class="container">
  
            <div class="section-title">
              <h2>Les Questions</h2>
            </div>
  
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nom</th>
                    <th scope="col">Prenom:</th>
                    <th scope="col">Sexe:</th>

                    <th scope="col">Consulter</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Mark</td>
                    <td>Mark</td>

                    <td>Otto</td>
                    <td><button class="btn btn-primary">Consulter </button></td>
                  </tr>
               
                </tbody>
              </table>
  
          </div>
        </section>
      </div>
    </div>
  
  </div>
  <!-- Vendor JS Files -->
  <script src="assets/vendor/jquery1/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="assets/vendor/php-email-form1/validate.js"></script>
  <script src="assets/vendor/waypoints1/jquery.waypoints.min.js"></script>
  <script src="assets/vendor/counterup1/counterup.min.js"></script>
  <script src="assets/vendor/isotope-layout1/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/venobox1/venobox.min.js"></script>
  <script src="assets/vendor/owl.carousel1/owl.carousel.min.js"></script>
  <script src="assets/vendor/typed.js1/typed.min.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  
  <!-- Template Main JS File -->
  <script src="assets/js/main1.js"></script>