<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>75% des visites chez le médecin peuvent être traitées en ligne</h2>
            <p>
                Avec l'évolution de l'internet, de nouvelles options font leur apparition dans le milieu médical et nous
                pensons que ceci est un atout pour le domaine médical de demain.

                Nous souhaitons apporter une meilleure qualité de soins de premier recours et une réponse médicale
                immédiate à tous nos patients et ceci grâce à la consultation de médecins en ligne. La consultation
                médicale en ligne est une spécialité qui s'est développée ces dernières années. Elle permet de faire
                gagner du temps aux patients par rapport à l'obtention de rendez-vous auprès des médecins.

                Concrètement, la consultation médicale en ligne peut être bénéfique et avantageuse pour les personnes
                qui sont soucieuses de leur santé ou de celle d’un de leurs proches. Ils peuvent passer par notre
                plateforme de médecine en ligne pour recevoir des conseils avisés et des diagnostics précis.

                La consultation médicale en ligne fait bénéficier les patients vu qu'avec cette technologie, il n'est
                plus nécessaire de se déplacer vers un cabinet médical. Grâce à notre plateforme Health Technology
                Services, les patients bénéficient d'une consultation médicale en ligne sécurisée. L'équipe Health
                Technology Services vous assure un service disponible 7j/7 et vous assure des offres diversifiées dans
                le but d'être à la hauteur des attentes de nos visiteurs.

                Notre plateforme médicale est entièrement conçue pour garantir la confidentialité de tous vos échanges
                avec le médecin. Toutes les données sont encryptées avant d'être stockées sur un serveur sécurisé.

                Health Technology Services s'appuie sur un réseau de médecins spécialistes qui vont vous permettre une
                prise en charge rapide des patients. Ils prennent le temps de vous écouter et de vous expliquer ce qui
                ne va pas ou ce que vous pourriez faire. Vous êtes rassuré(e) immédiatement.
            </p>
            <div class="text-center" style="margin-top: 20px;"><button type="submit" class="btn btn-primary">consultation en ligne</button></div>

        </div>


    </div>
</section><!-- End Frequently Asked Questions Section -->